/* *** TODO: Put your CSS styles here to make the web application look nice *** */
.list-group .list-group-item:hover {
    background-color: #f5f5f5;
}

.list-group-item .my-title:hover {
    cursor: pointer;
    text-decoration: underline;
}

.my-search {
    margin-bottom: 15px;
    padding-left: 15px;
}

.my-search .form-group {
    margin: 15px;
}

.my-search .my-search-input-wrap {
    width: 70%;
}

.my-search .my-search-input {
    width: 100%;
}

.my-notebook-list, .my-note-list {
    margin-top: 5px;
}
.my-notebook-list button, .my-note-list button {
    margin-right: 5px;
}
.my-notebook-list a:hover, .my-note-list a:hover {
    cursor: pointer;
    text-decoration: underline;
}